:host {
  --vic-gutter-gap: 8px;
  --vic-card-padding: 12px;
  --vic-icon-size: 36px;
  --vic-icon-border-radius: 18px;
  --vic-icon-bg-opacity: 0.2;
}

*:focus {
  outline: none;
}

ha-card {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  height: auto;
  padding: var(--vic-card-padding);
  background-color: var(--card-background-color);
  max-width: 500px;
}

ha-card.preview-card {
  padding: 0px;
  border: none;
  background: none;
}


ha-card[no-header].__map_first {
  padding-top: 0;
}

ha-card[no-header]:not('.__map_first') .header-info-box {
  margin-top: var(--vic-card-padding);
}

ha-card:not([no-header]).__map_single,
ha-card.__map_last {
  padding-bottom: 0;
}

ha-card.__map_last .card-element {
  margin-bottom: var(--vic-card-padding);
}

ha-card[no-header].__map_single {
  padding-block: 0;
}

ha-card:not([no-header])>#main-wrapper {
  margin-top: var(--vic-card-padding);
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}

header[hidden] {
  display: none !important;
}

header h1 {
  color: var(--ha-card-header-color, var(--primary-text-color));
  font-family: var(--ha-card-header-font-family, inherit);
  font-size: var(--ha-card-header-font-size, 24px);
  /* letter-spacing: -0.012em; */
  line-height: 2rem;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  text-align: center;
  /* padding-bottom: 0.67em; */
}


.header-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 250px;
  top: 0px;
  left: 50%;
  opacity: 0.1;
  z-index: 0;
  mask-image: linear-gradient(transparent 0%, black 40%, black 70%, transparent 100%);
  transform: translate(-50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


#mini_map {
  position: relative;

  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  place-self: center;
  width: calc(100% + (var(--vic-card-padding) * 2));
}

/* #indicators {
  margin-bottom: var(--vic-gutter-gap);
} */

#range {
  margin-top: var(--vic-gutter-gap);
}

#range[noMargin] {
  margin-top: unset;
}

.header-info-box {
  display: flex;
  position: relative;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  /* gap: var(--vic-gutter-gap); */
  /* margin-bottom: var(--vic-gutter-gap); */
  flex-direction: column;
}

.combined-info-box {
  display: grid;
  width: 100%;
  /* height: -moz-fit-content;
  height: 100%; */
  grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
  column-gap: 0.5rem;
  opacity: 1;
  transition: all 400ms cubic-bezier(0.3, 0.0, 0.8, 0.15);
  max-height: 1000px;
  padding: 0px;
}

.combined-info-box.not-visible {
  opacity: 0;
  padding-top: var(--vic-card-padding);
  max-height: 0;
  overflow: hidden;
  /* transition: padding-top 400ms linear, max-height 400ms cubic-bezier(0.3, 0.0, 0.8, 0.15); */
  transition: all 400ms cubic-bezier(0.3, 0.0, 0.8, 0.15);
  transition-delay: 0.3s;
}


.info-box {
  --mdc-icon-size: 20px;
  display: flex;
  /* justify-content: center; */
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  height: fit-content;
  gap: var(--vic-gutter-gap);
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .info-box {
    --mdc-icon-size: 17px;
  }

}

.item[hidden] {
  display: none !important;
}

.info-box.range {
  flex-wrap: nowrap !important;
  justify-content: center;
  text-wrap: nowrap;
  align-items: center;
  height: 100%;
}

.info-box.range .item {
  display: flex;
  align-items: center;
  gap: 4px !important;
}

.info-box .item {
  display: flex;
  gap: 0.4rem;
  align-items: flex-end;
}

.info-box .item ha-icon {
  margin-bottom: 3px;
}

.combined-info-box>.info-box:nth-last-child(1):nth-child(odd) {
  grid-column: span 2;
  justify-content: center;
}

.combined-info-box>*:nth-last-child(1):nth-child(odd) {
  grid-column: span 2;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  ha-card {
    padding: 0.5rem;
  }

  .info-box .item .base-menu {
    font-size: 0.8rem;
  }
}

.added-item-arrow {
  display: flex;
}

.item.active-btn {
  cursor: pointer;
}

.item.active-btn[active] {
  color: var(--group-indicator-color, var(--primary-color));

}

.item.active-btn>ha-icon {
  color: var(--group-indicator-color);
}


.info-box.charge {
  overflow: hidden;
  justify-content: space-evenly;
  opacity: 0;
  max-height: 0;
  transition: all 400ms cubic-bezier(0.3, 0.0, 0.8, 0.15);
}

.info-box.charge.active {
  opacity: 1;
  max-height: 100px;
  padding-top: var(--vic-card-padding);
  transition: all 400ms cubic-bezier(0.3, 0.0, 0.8, 0.15);
  transition-delay: 0.1s;
}

.info-box.charge .item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: initial;
  width: max-content;
}

.info-box.charge .icon-state {
  display: flex;
  height: auto;
  align-items: center;
}

.info-box.charge .item-name {
  color: var(--secondary-text-color);
}

.fuel-wrapper {
  display: inline-block;
  width: auto;
  height: 5px;
  background-color: #90909040;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  flex-basis: 60%;
}

.fuel-level-bar {
  position: absolute;
  background-color: #4caf50;
  border-radius: 5px;
  height: 100%;
  width: var(--vic-range-width);
}

.fuel-level-bar.charging {
  background-color: #2196f3 !important;
}

.fuel-level-bar.charging::after {
  content: '';
  position: absolute;
  width: 15%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  animation: pulse 3.7s ease-in-out forwards infinite;
  display: none;
}

.fuel-level-bar.charging.show-after::after {
  display: block !important;
}

.charging-icon {
  --mdc-icon-size: inherit;
  position: relative;
  animation: fill-color 4s steps(5) infinite;
  color: var(--range-bar-color);
  transform: rotate(90deg) !important;
  margin-bottom: 0 !important;
}

@keyframes fill-color {

  0%,
  100% {
    clip-path: inset(100% 0 0 0);
    /* Fully hidden */
    color: var(--primary-text-color) !important;
  }

  50% {
    clip-path: inset(0 0 0 0);
    color: var(--range-bar-color);
  }

  75% {
    clip-path: inset(0 0 0 0);
    color: var(--range-bar-color);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc((100% - 24px) / 2), 1fr));
  grid-template-rows: auto;
  gap: var(--vic-gutter-gap);
  /* margin-top: 1rem; */
  position: relative;

}

.grid-item {
  display: flex;
  position: relative;
  padding: var(--vic-gutter-gap) var(--vic-card-padding);
  background: var(--secondary-background-color, var(--card-background-color, #fff));
  box-shadow: var(--ha-card-box-shadow);
  box-sizing: border-box;
  border-radius: var(--ha-card-border-radius, 12px);
  border-width: var(--ha-card-border-width, 1px);
  border-style: solid;
  border-color: var(--ha-card-border-color, var(--divider-color, #e0e0e0));
  transition: all 0.3s ease-out;
  opacity: 1;
  overflow: hidden;
  align-items: center;
  height: 100%;
}

/* .grid-item:hover {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
} */


.grid-item .click-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 10px; */
  flex: 1 1 0%;
  min-width: 0px;
  box-sizing: border-box;
  pointer-events: none;
  gap: 10px;
}

.grid-item .click-container[vertical] {
  flex-direction: column;
  text-align: center;
}

.grid-item .item-notify {
  display: flex;
  position: absolute;
  top: -2px;
  right: -3px;
  line-height: 0;
  color: var(--vic-notify-color, var(--error-color));
  --mdc-icon-size: 1.35rem;
  justify-content: center;
  align-items: center;
}

.grid-item .item-notify[hidden] {
  display: none;
}


.grid-item .item-icon {
  position: relative;
  padding: 6px;
  margin: -6px;
}

.item-icon:hover .icon-background::before {
  --vic-icon-bg-opacity: 0.55 !important;
}

.item-icon .icon-background {
  position: relative;
  width: var(--vic-icon-size);
  height: var(--vic-icon-size);
  border-radius: var(--vic-icon-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: background-color 180ms ease-in-out, opacity 180ms ease-in-out;
}

.item-icon .icon-background::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--vic-icon-bg-color, var(--primary-text-color));
  opacity: var(--vic-icon-bg-opacity);
  transition: background-color 180ms ease-in-out, opacity 180ms ease-in-out;
}

.icon-picture {
  width: 100%;
  height: 100%;
  border-radius: var(--vic-icon-border-radius);
}

.grid-item .item-content {
  display: flex;
  flex-direction: column;
  min-width: 0;
  overflow: hidden;
}

.grid-item .item-content .primary {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: 500;
}

.grid-item .item-content .secondary {
  color: var(--secondary-text-color);
  text-transform: capitalize;
  letter-spacing: 0.5px;
  white-space: nowrap;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-overflow: ellipsis;
}

.primary.title-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
}

.primary.title-wrap::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -15px;
  width: 40%;
  height: 100%;
  background-image: linear-gradient(to left,
      transparent 0,
      var(--secondary-background-color, var(--card-background-color, #fff)) 100%);
}

.marquee {
  display: inline-block;
  animation: marquee 6s linear 1s infinite;
  overflow: visible !important;
  animation-iteration-count: 3;
  /* left: 100%; */
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

.zoom-in {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: zoomIn;
}

@keyframes zoomIn {
  from {
    opacity: 0.5;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 1;
  }
}

.added-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.added-card-header .headder-btn {
  color: var(--secondary-text-color);
  opacity: 0.5;
  transition: opacity 0.3s;
}

.added-card-header .headder-btn:hover {
  opacity: 1;
}



.added-card-header .card-toggle {
  display: flex;
  gap: 1rem;
}

.added-card {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 1rem;
  padding: 0;
  overflow: hidden;
}

.added-card>.added-cutom {
  margin-bottom: var(--vic-card-padding);
}

.added-card>.added-cutom:last-child {
  margin-bottom: 0;
}

.added-card:first-child {
  margin-top: 0;
}

.last-update {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  color: var(--secondary-text-color);
  margin-top: 0.5rem;
  opacity: 0.5;
  font-size: 0.8rem;
}

#cards-wrapper {
  animation: fadeIn 0.5s ease-in-out;
  position: relative;
}

#main-wrapper {
  animation: fadeIn 0.3s ease;
  position: relative;
}

.card-element {
  transition: all 0.5s ease;
  position: relative;
}


.slide-left-enter {
  transform: translateX(100%);
}

.slide-left-enter-active {
  transform: translateX(0);
}

.slide-left-exit {
  transform: translateX(0);
}

.slide-left-exit-active {
  transform: translateX(-100%);
}

.slide-right-enter {
  transform: translateX(-100%);
}

.slide-right-enter-active {
  transform: translateX(0);
}

.slide-right-exit {
  transform: translateX(0);
}

.slide-right-exit-active {
  transform: translateX(100%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.default-card {
  align-items: center;
  padding: var(--vic-card-padding);
  background: var(--ha-card-background-color, var(--secondary-background-color));
  box-shadow: var(--ha-card-box-shadow);
  box-sizing: border-box;
  border-radius: var(--ha-card-border-radius, 12px);
  border-width: var(--ha-card-border-width, 1px);
  border-style: solid;
  border-color: var(--ha-card-border-color, var(--divider-color, #e0e0e0));
  transition: all 0.3s ease-out;
  margin-bottom: 1rem;
  position: relative;
}

#cards-wrapper .default-card:not(:first-child) {
  animation: slideUpDown 0.3s linear;
}

@keyframes slideUpDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.default-card:last-child {
  margin-bottom: 0;
}

.default-card .data-header {
  color: var(--ha-card-header-color, --primary-text-color);
  font-family: var(--ha-card-header-font-family, inherit);
  font-size: 1.5rem;
  line-height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: auto;
  /* padding: 8px 0; */
}


.default-card .data-box {
  opacity: 1;
  padding-top: var(--vic-gutter-gap);
  max-height: 1000px;
  transition: all 400ms cubic-bezier(0.3, 0.0, 0.8, 0.15);
}

.default-card .data-box.no-items,
.default-card .data-box[active] {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0;
}



.default-card.remote-tab {
  border: none !important;
  background: none !important;
  padding: 0px;
}



.data-icon.warning,
.warning {
  color: var(--warning-color, --error-color) !important;
}

.subcard-icon {
  transition: transform 0.3s;
  transform: rotate(0deg);
  display: inline-block;
  cursor: pointer;
}

.subcard-icon[active] {
  transform: rotate(180deg);
}

.subcard-icon.hidden {
  visibility: hidden;
}

.sub-attributes {
  overflow: hidden;
  padding-top: 0px !important;
  max-height: 0;
  opacity: 0;
  transition: all 400ms cubic-bezier(0.3, 0.0, 0.8, 0.15);
}

.sub-attributes.active {
  max-height: 1000px;
  opacity: 1;
  padding: var(--vic-card-padding);
}

.error {
  color: var(--error-color);
}

dialog {
  width: 100%;
  overflow: hidden;
  max-width: 500px;
  background: none;
  border: none;
  border-radius: 12px;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

@keyframes slideUpDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes tap-feedback {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(100%);
  }
}

.click-shrink {
  transition: transform 0.1s;
}

.click-shrink:active {
  transform: scale(1.1);
}


.loading-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  animation: zoomRotate 2s linear infinite;
}

@keyframes zoomRotate {
  0% {
    transform: scale(0) rotate(0deg);
    opacity: 0;
  }

  50% {
    transform: scale(1) rotate(180deg);
    opacity: 0.7;
  }

  100% {
    transform: scale(0) rotate(360deg);
    opacity: 0;
  }
}

.redGlows {
  animation: redGlow 1s infinite;
  animation-iteration-count: 5;
}

@keyframes redGlow {
  0% {
    box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.5);
  }

  50% {
    box-shadow: 0 0 20px 0 rgba(255, 0, 0, 0.5);
  }

  100% {
    box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.5);
  }
}

.helper-active {
  border: solid 2px var(--accent-color);
}